<section class="section-luxe">
    <h3>Amet minim mollit non</h3>
    <h2 class="mimino">MIMIHO</h2>
    <h3>ДВОМІСНИЙ НОМЕР люкс</h3>
    <p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img src="/src/img/1-room-luxe-for-2-adult/bedroom.jpg" alt="bedroom">
    <img src="/src/img/1-room-luxe-for-2-adult/arrangement-pf-bathroom-elements-self-care 1.jpg" alt="bathroom">
    <img src="/src/img/1-room-luxe-for-2-adult/cup-tea-stands-wooden-windowsill 1.jpg" alt="cup">
    <svg class="icon-luxe" width="29.91px" height="16.83px">
        <use href="/src/img/sprite.svg#icon-arrow-left"></use>
    </svg>
    <svg class="icon-luxe" width="29.91px" height="16.83px">
        <use href="/src/img/sprite.svg#icon-arrow-right"></use>
    </svg>
    <button type="button">Детальніше</button>
    <button type="button">Переглянути ціни</button>
</section>