<section class="section-2-adult">
    <div class="container-2-adult">
        <h3 class="headline-2-adult">Amet minim mollit non</h3>
        <a href="#" class="headline-2-mimino">MIMIHO</a>
        <h3 class="headlines-2-number">ДВОМІСНИЙ НОМЕР</h3>
        <div class="text-container-2-adult">
            <p class="text-2-adult"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <img src="./img/bedroom-desktop.png" srcset="./img/bedroom-tablet.png 2x" alt="bedroom" width="244" height="322"
            class="bedroom-2-adult">
        <div class="flex-lux">
            <div class="slaider-lux">
                <img src="./img/bathroom-desktop.png" srcset="./img/bathroom-tablet.png 2x" alt="bathroom" width="74"
                    height="194" class="bath-2-adult">
                <img src="./img/cup-desktop.png" alt="cup" width="194" height="194" class="img-cup-2-adult">
                <div class="adult-2-svg">
                    <button type="button" class="svg-btt-2-adult">
                        <svg class="icon-2-adult" width="35" height="25">
                            <use href="./img/sprite.svg#icon-arrow-left"></use>
                        </svg></button>
                    <button type="button" class="svg-btt-2-adult">
                        <svg class="icon-2-adult" width="30" height="25">
                            <use href="./img/sprite.svg#icon-arrow-right"></use>
                        </svg></button>
                </div>
            </div>
            <div class="btt-2-adult">
                <a href="../room.html" class="det-hotel-btn-price1">Детальніше</a>
                <button type="button" class="item-2-btt">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>