<section class="section-3-adult">
    <div class="container-3-adult">
        <div class="container-top">
            <img src="../img/bedroom-desktop.png" srcset="./img/bedroom-tablet.png 2x" alt="bedroom" width="244"
                height="322" class="bedroom-img-3-adult">
            <div class="all-text">
                <h3 class="headline-3-adult">Amet minim mollit non</h3>
                <div class="mimino-container"><a href="#" class="headline-3-mimino">MIMIHO</a></div>
                <h3 class="headlines-number-3">ТРЬОХМІСНИЙ НОМЕР</h3>
                <div class="text-container-3">
                    <p class="text-3-adult"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit
                        officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
        <div class="flex-3-adult">
            <div class="slaider-3-adult">
                <img src="./img/bathroom-desktop.png" srcset="./img/bathroom-tablet.png 2x" alt="bathroom" width="74"
                    height="194" class="bath-3-adult">
                <img src="../img/cup-desktop.png" alt="cup" class="img-cup-3-adult">
                <div class="adult-3-svg">
                    <button type="button" class="adult-3-svg-btt">
                        <svg class="icon-3-adult" width="35" height="25">
                            <use href="./img/sprite.svg#icon-arrow-left"></use>
                        </svg></button>
                    <button type="button" class="adult-3-svg-btt">
                        <svg class="icon-3-adult" width="30" height="25">
                            <use href="./img/sprite.svg#icon-arrow-right"></use>
                        </svg></button>
                </div>
            </div>
            <div class="btt-3-adult">
                <button type="button" class="item-btt-3-adult">Детальніше</button>
                <button type="button" class="item-btt-3-adult">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>