<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/1-room-luxe-for-2-adult.css">
<section class="section-luxe">
    <div class="container-luxe">
        <h3 class="headline-first">Amet minim mollit non</h3>
        <a href="#" class="mimino headline">MIMIHO</a>
        <h3 class="headlines-luxe">ДВОМІСНИЙ НОМЕР люкс</h3>
        <div class="text-container">
            <p class="text-luxe"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <img src="../img/bedroom-desktop.png" srcset="../img/bedroom-tablet.png 2x" alt="bedroom" width="244"
            height="322" class="bedroom-img">
        <div class="flex-lux">
            <div class="slaider-lux">
                <img src="../img/bathroom-desktop.png" srcset="../img/bathroom-tablet.png 2x" alt="bathroom" width="74"
                    height="194" class="bath">
                <img src="../img/cup-desktop.png" alt="cup" width="194" height="194" class="img-cup">
            </div>
            <div class="btt">
                <button type="button" class="luxe-btt">Детальніше</button>
                <button type="button" class="luxe-btt">Переглянути ціни</button>
            </div>
        </div>
        <div class="luxe-svg">
            <button type="button" class="svg-btt">
                <svg class="icon-luxe" width="35" height="25">
                    <use href="../img/sprite.svg#icon-arrow-left"></use>
                </svg></button>
            <button type="button" class="svg-btt">
                <svg class="icon-luxe" width="30" height="25">
                    <use href="../img/sprite.svg#icon-arrow-right"></use>
                </svg></button>
        </div>
    </div>
</section>