<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/about-our-hotel.css">


  <section class="hotel-section">
    <div class="container">
      <div class="hotel-bedroom">
        <div class="hotel-discription">
          <span class="hotel-article">Amet minim mollit non</span>
          <a href="../index.html"  class="hotel-title">MIMIHO</a>
          <p class="hotel-paragraf">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p></div>
        <div class="hotel-pictures">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset= "
              ../img/hotel/desktop/hotel-desktop-1.jpg 1x,
              ../img/hotel/desktop/hotel-desktop-1@2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
              ../img/hotel/tabet/hotel-tabet-1.jpg    1x,
              ../img/hotel/tabet/hotel-tabet-1@2x.jpg 2x
              "                                          
            />
            <img
              srcset="
              ../img/hotel/mobile/hotel-mobile-1.jpg    1x,
              ../img/hotel/mobile/hotel-mobile-1@2x.jpg 2x
              " 
              src="../img/hotel/mobile/hotel-mobile-1.jpg"
              alt="A beautiful room with a white bed"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="hotel-living">
        <p class="hotel-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <div class="hotel-holl">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset= "
              ../img/hotel/desktop/hotel-desktop-2.jpg 1x,
              ../img/hotel/desktop/hotel-desktop-2@2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
              ../img/hotel/tabet/hotel-tabet-2.jpg    1x,
              ../img/hotel/tabet/hotel-tabet-2@2x.jpg 2x
              "                                          
            />
            <img
              srcset="
              ../img/hotel/mobile/hotel-mobile-2.jpg   1x,
              ../img/hotel/mobile/hotel-mobile-2@2x.jpg 2x
              " 
              src="../img/hotel/mobile/hotel-mobile-2.jpg"
              alt="hotel hall"
              loading="lazy"
            />
          </picture>
        </div>  
      </div>
      <div class="hotel-slide">
        <img
        srcset="
          ../img/hotel/mobile/white-bed-mobile.jpg   1x,
          ../img/hotel/mobile/white-bed-mobile.jpg 2x
          " 
          src="../img/hotel/mobile/white-bed-mobile.jpg"
          alt="white rolled towel"
          loading="lazy"
          class="hotel-towel"
        />
        <picture class="hotel-registration">
          <source
            media="(min-width:1280px)"
            srcset= "
            ../img/hotel/desktop/hotel-registration-desktop.jpg 1x,
            ../img/hotel/desktop/hotel-registration-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
            ../img/hotel/tabet/hotel-registration-tabet.jpg 1x,
            ../img/hotel/tabet/hotel-registration-tabet@2x.jpg 2x"                                          
          />
          <img  
          srcset="
          ../img/hotel/mobile/hotel-registration-mobile.jpg 1x, 
          ../img/hotel/mobile/hotel-registration-mobile@2x.jpg 2x"
          
          src="../img/hotel/mobile/hotel-registration-mobile.jpg" 
          alt="registration of a woman in a hotel"
          loading="lazy"/>
        </picture>
        <picture class="hotel-bed">
          <source
            media="(min-width:1200px)"
            srcset= "
            ../img/hotel/desktop/white-bed-desktop.jpg 1x,
            ../img/hotel/desktop/white-bed-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
            ../img/hotel/tabet/white-bed-tabet.jpg    1x,
            ../img/hotel/tabet/white-bed-tabet@2x.jpg 2x
            "                                          
          />
          <img  src="../img/hotel/mobile/frame.png" 
                alt="registration of a woman in a hotel">
        </picture>
        
      </div>
      <div class="luxe-svg">
        <button type="button" class="svg-btt">
          <svg class="icon-luxe" width="30" height="17">
              <use href="../img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="svg-btt">
          <svg class="icon-luxe" width="30" height="17">
            <use href="../img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>