<!-- About-our-kitchen -->
<section class="rest">
  <div class="conteiner">
    <div class="rest-page">
      <div class="rest-one">
        <p class="rest-pretitle">Amet minim mollit non</p>
        <h3 class="rest-title">MIMIHO</h3>
        <p class="rest-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        </div>
        <picture>
          <source
            srcset="
            ../img/kitchen/fire.jpg 1x, 
            ../img/kitchen/fire@2x.jpg 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../img/kitchen/fire-tab.jpg    1x,
              ../img/kitchen/fire-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/kitchen/fire-mob.jpg    1x,
              ../img/kitchen/fire-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/kitchen/fire.jpg"
            alt="rest"
            width="460"
            height="574"
            class="rest-img"
          />
        </picture>
      
    </div>
    <div class="rest-two">
      <picture>
        <source
          srcset="
            ../img/kitchen/meet.jpg    1x,
            ../img/kitchen/meet@2x.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../img/kitchen/meet-tab.jpg    1x,
            ../img/kitchen/meet-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <sourceo
          srcset="
            ../img/kitchen/meet-mob.jpg    1x,
            ../img/kitchen/meet-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/kitchen/meet.jpg"
          alt="rest"
          width="460"
          height="574"
          class="rest-imga"
        />
      </picture>
      <p class="rest-text-next">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="conteiner-foto">
      <img
        src="../img/kitchen/helena1.jpg"
        alt="rest"
        srcset="../img/kitchen/helena1.jpg 1x, ../img/kitchen/helena1@2x.jpg 2x"
        width="245"
        height="245"
        class="rest-imge"
      />

      <img
        src="../img/kitchen/mat-brown.jpg"
        alt="rest"
        srcset="../img/kitchen/mat-brown.jpg 1x, ../img/kitchen/mat-brown@2x.jpg 2x"
        width="245"
        height="245"
        class="rest-imge"
      />
    </div>
  </div>
</section>
