<!--  ABOUT-OUR-KITCHEN  -->
<link rel="stylesheet" href="/src/css/about-our-kitchen.css">
<link rel="stylesheet" href="/src/css/reset.css">
<section class="features">
    <div class="container">
        <div class="about-kitchen">
            <div class="features-kitchen">
                <p class="features-pretitle">Amet minim mollit non</p>
                <h3 class="features-title">MIMIHO</h3>
                <p class="features-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit
                    officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>

            <img class="features-photo" src="../img/about-kitchen/restaurant-interior.jpg" srcset="../img/about-kitchen/restaurant-interior@2x.jpg,
         ../img/about-kitchen/restaurant-interior-tab.jpg, 
         ../img/about-kitchen/restaurant-interior-tab@2x.jpg, 
         ../img/about-kitchen/restaurant-interior-desk.jpg, 
         ../img/about-kitchen/restaurant-interior-desk@2x.jpg" alt="Kitchen flambe" width="244">
        </div>
        <div class="features-ingredients">
            <img class="photo2" srcset="../img/about-kitchen/fresh-meat@2x.jpg,
         ../img/about-kitchen/fresh-meat-tab.jpg, 
         ../img/about-kitchen/fresh-meat-tab@2x.jpg,
         ../img/about-kitchen/fresh-meat-desk.jpg, 
         ../img/about-kitchen/fresh-meat-desk@2x.jpg" src="../img/about-kitchen/fresh-meat.jpg" alt="Fresh meat"
                width="200">


            <p class="features-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="photo-list">
            <img class="photo3" srcset="../img/about-kitchen/hand-made@2x.jpg,
        ../img/about-kitchen/hand-made-tab.jpg,
        ../img/about-kitchen/hand-made-tab@2x.jpg,
        ../img/about-kitchen/hand-made-desk.jpg,
        ../img/about-kitchen/hand-made-desk@2x.jpg" src="./img/about-kitchen/hand-made.jpg" alt="Handmade" width="245">

            <img class="photo4" srcset="../img/about-kitchen/dumplings@2x.jpg,
        ../img/about-kitchen/dumplings-tab.jpg,
        ../img/about-kitchen/dumplings-tab@2x.jpg,
        ../img/about-kitchen/dumplings-desk.jpg,
        ../img/about-kitchen/dumplings-desk@2x.jpg," src="../img/about-kitchen/dumplings.jpg" alt="Dumplings"
                width="245">
        </div>
    </div>
</section>