<!-- About our hotelaurant -->
<section class="hotel">
  <div class="conteiner-hotel">
    <div class="hotel-page">
      <div class="hotel-one">
        <p class="hotel-pretitle">Amet minim mollit non</p>
        <a href="#" class="hotel-title">MIMIHO</a>
        <h1 class="visually-hidden">MIMIHO</h1>
        <p class="hotel-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/hotel/hotel-desktop-1.jpg    1x,
            ./img/hotel/hotel-desktop-1@2x.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/hotel/hotel-tabet-1.jpg    1x,
            ./img/hotel/hotel-tabet-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hotel/hotel-mobile-1.jpg    1x,
            ./img/hotel/hotel-mobile-1@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/hotel/hotel-desktop-1.jpg"
          alt="hotel"
          width="460"
          height="574"
          class="hotel-img"
        />
      </picture>
    </div>
    <div class="hotel-two">
      <picture>
        <source
          srcset="

            ./img/hotel/hotel-desktop-2.jpg    1x,
            ./img/hotel/hotel-desktop-2@2x.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/hotel/hotel-tabet-2.jpg    1x,
            ./img/hotel/hotel-tabet-2@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hotel/hotel-mobile-2.jpg    1x,
            ./img/hotel/hotel-mobile-2@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/hotel/hotel-desktop-2.jpg"
          alt="hotel"
          width="460"
          height="574"
          class="hotel-imga"
        />
      </picture>
      <p class="hotel-text-next">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="conteiner-hot">
      <img
        src="./img/hotel/hotel-registration-mobile.jpg"
        alt="hotel"
        srcset="
          ./img/hotel/hotel-registration-mobile.jpg    1x,
          ./img/hotel/hotel-registration-mobile@2x.jpg 2x
        "
        width="245"
        height="245"
        class="hotel-imge"
      />

      <img
        src="./img/hotel/white-mob.jpg"
        alt="hotel"
        srcset="./img/hotel/white-mob.jpg 1x, ./img/hotel/white-mob@2x.jpg 2x"
        width="245"
        height="245"
        class="hotel-imge"
      />
    </div>
    <div class="hotel-svg">
      <button type="button" class="svg-btn">
        <svg class="icon-fill" width="35" height="17">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="svg-btn">
        <svg class="icon-fill" width="30" height="17">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
        </picture>
        <div class="hotel-towels">
        <picture class="hotel-bed">
          <source
            media="(min-width:1280px)"
            srcset= "
            ../img/hotel/desktop/white-bed-desktop.jpg 1x,
            ../img/hotel/desktop/white-bed-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
            ../img/hotel/tabet/white-bed-tabet.jpg    1x,
            ../img/hotel/tabet/white-bed-tabet@2x.jpg 2x
            "                                          >
        </picture>
      </div>
      </div>
    </div>
  </div>
</section>
