<!-- Contacts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/src/css/contacts.css" />
<link rel="stylesheet" href="/src/css/reset.css" />
<section class="contacts">
    <div class="container">
        <div class="contact-div">
            <a href="../homepage.html" class="logo">MIMIHO</a>
            <p class="contact-text">Ресторанно-готельний комплекс</p>
            <div>
                <div class="contact-items">
                    <p class="contact-restaurant">Ресторант</p>
                    <a href="tel:+380955559533" class="contact-tel"><svg width="24" height="24" class="contact-icon">
                            <use href="../img/sprite.svg#icon-phone"></use>
                        </svg>095 555 95 33</a>
                </div>

                <div class="contact-items">
                    <p class="contact-hotel">Готель</p>
                    <div class="contact-two-tel">
                        <svg width="24" height="24" class="contact-icon">
                            <use href="../img/sprite.svg#icon-phone"></use>
                        </svg>
                        <a href="tel:+380668491089">066 849 10 89</a>
                        <a href="tel:+380672758540">067 275 85 40</a>
                    </div>
                </div>

                <div class="contact-items">
                    <a href="https://goo.gl/maps/uJgLs9FAPdMYFHgo7" target="_blank" rel="noopener noreferrer nofollow"
                        class="contact-maps">
                        <svg width="24" height="24" class="contact-icon">
                            <use href="../img/sprite.svg#icon-geo-location"></use>
                        </svg>
                        <p class="contact-maps-text">
                            Україна, м. Полтава, вул. Маршала Бірюзова, 15
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="contact-map">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12821.932427635327!2d34.52476175017183!3d49.598957248703385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1676827612756!5m2!1suk!2sua"
                style="border: 1px solid #bababa;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>