<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
<section class="det-hotel">
    <div class="container">

        <a class="det-hotel-mimino" href="">mimiho</a>
        <h3 class="det-hotel-title">Готель</h3>
        <p class="det-hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit.</p>

        <div class="image-arrow">
            <div class="det-hotel-images">
                <div class="lunch-mob">
                    <picture>
                        <source media="(min-width:414px)" srcset="
                    ../img/details-of-our-hotel/hotel-lunch-mob_80.webp 1x,
                    ../img/details-of-our-hotel/hotel-lunch-mob_160.webp 2x" type="image/webp">
                        <source media="(min-width:414px)" srcset="
                    ../img/details-of-our-hotel/hotel-lunch-mob_80.png 1x,
                    ../img/details-of-our-hotel/hotel-lunch-mob_160.png 2x" type="image/png">
                        <img src="../img/details-of-our-hotel/hotel-lunch-mob_80.png" alt="обід">
                    </picture>
                </div>
                <div class="room-mob">
                    <picture>
                        <source media="(min-width:414px)" srcset="
                        ../img/details-of-our-hotel/room-mob_274.webp 1x,
                        ../img/details-of-our-hotel/room-mob_548.webp 2x" type="image/webp">
                        <source media="(min-width:414px)" srcset="
                        ../img/details-of-our-hotel/room-mob_274.jpg 1x,
                        ../img/details-of-our-hotel/room-mob_548.jpg 2x" type="image/webp">
                        <img src="../img/details-of-our-hotel/room-mob_274.jpg" alt="кімната">
                    </picture>
                </div>
                <div class="images-tablet">
                    <picture>
                        <source media="(min-width:1024px)" srcset="
                            ../img/details-of-our-hotel/recep-tablet_162.webp 1x,
                            ../img/details-of-our-hotel/recep-tablet_324.webp 2x" type="image/webp">
                        <source media="(min-width:1024px)" srcset="
                            ../img/details-of-our-hotel/recep-tablet_162.jpg 1x,
                            ../img/details-of-our-hotel/recep-tablet_324.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/recep-tablet_162.jpg" alt="рецепція">
                    </picture>
                </div>
                <div class="images-tablet">
                    <picture>
                        <source media="(min-width:1024px)" srcset="
                        ../img/details-of-our-hotel/lunch-tablet_162.webp 1x,
                        ../img/details-of-our-hotel/lunch-tablet_324.webp 2x" type="image/webp">
                        <source media="(min-width:1024px)" srcset="
                        ../img/details-of-our-hotel/lunch-tablet_162.jpg 1x,
                        ../img/details-of-our-hotel/lunch-tablet_324.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/lunch-tablet_162.jpg" alt="обід">
                    </picture>
                </div>
                <div class="images-tablet">
                    <picture>
                        <source media="(min-width:1024px)" srcset="
                        ../img/details-of-our-hotel/room-tablet_270.webp 1x,
                        ../img/details-of-our-hotel/room-tablet_540.webp 2x" type="image/webp">
                        <source media="(min-width:1024px)" srcset="
                        ../img/details-of-our-hotel/room-tablet_270.jpg 1x,
                        ../img/details-of-our-hotel/room-tablet_540.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/room-tablet_270.jpg" alt="кімната">
                    </picture>
                </div>
                <div class="room-tab-desk">
                    <picture>
                        <source media="(min-width:1280px)" srcset="
                            ../img/details-of-our-hotel/room-tab-desk_270.webp 1x,
                            ../img/details-of-our-hotel/room-tab-desk_540.webp 2x" type="image/webp">
                        <source media="(min-width:1280px)" srcset="
                            ../img/details-of-our-hotel/room-tab-desk_270.jpg 1x,
                            ../img/details-of-our-hotel/room-tab-desk_540.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/room-tab-desk_270.jpg" alt="кімната">
                    </picture>
                </div>
                <div class="lunch-desk">
                    <picture>
                        <source media="(min-width:1280px)" srcset="
                ../img/details-of-our-hotel/lunch-desk_162.webp 1x,
                ../img/details-of-our-hotel/lunch-desk_324.webp 2x" type="image/webp">
                        <source media="(min-width:1280px)" srcset="
                ../img/details-of-our-hotel/lunch-desk_162.jpg 1x,
                ../img/details-of-our-hotel/lunch-desk_324.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/lunch-desk_162.jpg" alt="обід">
                    </picture>
                </div>
                <div class="recep-desk">
                    <picture>
                        <source media="(min-width:1280px)" srcset="
                        ../img/details-of-our-hotel/recep-desk_270.webp 1x,
                        ../img/details-of-our-hotel/recep-desk_540.webp 2x" type="image/webp">
                        <source media="(min-width:1280px)" srcset="
                        ../img/details-of-our-hotel/recep-desk_270.jpg 1x,
                        ../img/details-of-our-hotel/recep-desk_540.jpg 2x" type="image/jpg">
                        <img src="../img/details-of-our-hotel/recep-desk_270.jpg" alt="ресепшн-деск">
                    </picture>
                </div>
            </div>
            <div class="btn-price-tablet">
                <button type="button" class="det-hotel-btn">Забронювати номер</button>
                <a href="" class="det-hotel-btn-price">Переглянути ціни</a>
            </div>
            <div class="btn-price-desk">
                <button type="button" class="det-hotel-btn">Забронювати номер</button>
                <a href="" class="det-hotel-btn-price">Переглянути ціни</a>
            </div>
            <div class="svg-icons">
                <button type="button" class="det-hotel-button">
                    <svg class="det-hotel-icon" width="32" height="32">
                        <use href="../img/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="det-hotel-button">
                    <svg class="det-hotel-icon" width="32" height="32">
                        <use href="../img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="btn-price">
            <button type="button" class="det-hotel-btn">Забронювати номер</button>
            <a href="" class="det-hotel-btn-price">Переглянути ціни</a>
        </div>
    </div>
</section>