<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
  integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/details-of-our-restaurant.css" />

<section class="details-rest">
  <div class="container-datail-rest">
    <a class="logo-details-rest link" href="../homepage.html" lang="uk"
      >MIMIHO</a
    >
    <h2 class="title-details-rest" lang="uk">Ресторан</h2>
    <p class="details-rest-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="details-of-rest-wrap">
      <div class="raletive-wrap">
        <ul class="list details-of-rest-list">
          <li class="details-of-rest-item">

            <img
              srcset="../img/details-of-rest/meat.jpg    1x,
                  ../img/details-of-rest/meat-2x.jpg 2x"
              src="../img/details-of-rest/meat.jpg"
              alt="meat"
              width="270"
              height="270"
            />
           
          </li>
          <li class="details-of-rest-item">
            
              <img srcset="../img/details-of-rest/dish.jpg    1x,
                  ../img/details-of-rest/dish-2x.jpg 2x"
                src="../img/details-of-rest/dish.jpg"
                alt="dish on the board"
                width="162"
                height="270"
              />
            </picture>
          </li>
          <li class="details-of-rest-item">
            
              <img srcset="../img/details-of-rest/dish-2.jpg    1x,
                  ../img/details-of-rest/dish-2-2x.jpg 2x"
                src="../img/details-of-rest/dish-2.jpg"
                alt="dish on the plate"
                width="270"
                height="270"
              />
           
          </li>
        </ul>
        <div class="details-of-rest-svg">
          <button type="button" class="svg-btn">
            <svg class="icon-arrow" width="35" height="17">
              <use href="../img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="svg-btn">
            <svg class="icon-arrow" width="30" height="17">
              <use href="../img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="details-wrap-btn">
        <button class="rest-booking" type="button" lang="uk">
          Забронювати столик
        </button>
        <a class="link rest-menu" href="./" lang="uk">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
