<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
<section class="det-hotel">
    <div class="container">
        <a class="mimino" href="">mimiho</a>
        <h3 class="det-hotel-title">Готель</h3>
        <p class="det-hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit.</p>
            <div class="det-hotel-image-arrow">
            <div class="det-hotel-images">
            <img src="../img/details-of-our-hotel/det-hotel-lunch.png" alt="">
        <img src="../img/details-of-our-hotel/det-of-our-hotel.jpg" 
        alt="" width="274" height="270">
        </div>
        
        <div class="svg-icons">
        <button type="button" class="det-hotel-button">
            <svg class="det-hotel-icon" width="32" height="32">
                <use href="../img/sprite.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="det-hotel-button">
            <svg class="det-hotel-icon" width="32" height="32" >
                <use href="../img/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
        </div>
        </div>
        <div class="btn-price">
          <button type="button" class="det-hotel-btn">Забронювати номер</button>
            <a href="" class="det-hotel-btn-price">Переглянути ціни</a>
        </div>


    </div>
</section>


<a href=""></a>