<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/footer.css">
<!------footer-------->
<footer class="footer">
    <!-- <div class="container"> -->
        <div class="footer-wrapper">
            <div class="footer-left-box">
                <a href="./index.html" class="link footer-mimino"
                  >MIMIHO</a>
              </div>
              <div class="footer-right-box">        
                <nav class="footer-site-navigation">
                  <ul class="footer-site-nav-list list">
                    <li class="footer-site-nav-item">
                      <a class="footer-nav-link link" href="#">Головна</a>
                    </li>
                    <li class="footer-site-nav-item">
                      <a class="footer-nav-link link" href="#">Ресторан</a>
                    </li>
                    <li class="footer-site-nav-item">
                      <a class="footer-nav-link link" href="#">Готель</a>
                    </li>
                  </ul>
                </nav>
                <ul class="footer-social-list list">
                    <li class="footer-social-item">
                        <a href="#" class="footer-soc-tittle">Telegram</a>
                        <a href="#" class="footer-social-link">
                        <svg class="footer-social-icon" width="22" height="22">
                          <use href="../img/sprite.svg#icon-telegram"></use>
                        </svg>                       
                      </a>

                    </li>
                    <li class="footer-social-item">
                        <a href="#" class="footer-soc-tittle">Facebook</a>
                        <a href="#" class="footer-social-link">
                        <svg class="footer-social-icon" width="22" height="22">
                          <use href="../img/sprite.svg#icon-facebook"></use>
                        </svg>
                      </a>                      
                    </li>
                    <li class="footer-social-item">
                        <a href="#" class="footer-soc-tittle">Instagram</a>
                        <a href="#" class="footer-social-link">
                        <svg class="footer-social-icon" width="22" height="22">
                          <use href="../img/sprite.svg#icon-instagram"></use>
                        </svg>
                      </a>                      
                    </li>
                </ul>
              </div>
        </div>
    <!-- </div> -->
  </footer>