<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/footer.css">
<footer class="footer container">
    <h3 class="mim">MIMINO</h3>
    <ul class="footer-list">
        <li class="footer-item">Головна</li>
        <li class="footer-item">Ресторан</li>
        <li class="footer-item">Готель</li>
    </ul>
    <ul class="header-wrap-icon list">
        <li class="header-wrap-icon-item">
            <a href="#" class="header-wrap-icon-link link">
                <svg width="24" height="24">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="header-wrap-icon-item">
            <a href="#" class="header-wrap-icon-link link">
                <svg width="24" height="24">
                    <use href="../img/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="header-wrap-icon-item">
            <a href="#" class="header-wrap-icon-link link">
                <svg width="24" height="24">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
    </ul>

</footer>