<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-text-box">
                    <a class="mimino" href="index.html">MIMINO</a>
                </div>
                <div>
                    <ul class="footer-list-a">
                        <a href="" class="footer-item-a">Головна</a>
                        <a href="" class="footer-item-a">Ресторан</a>
                        <a href="" class="footer-item-a">Готель</a>
                    </ul>
                </div>
                <div class="footer-media">
                    <p class="fmedia-text">Social media</p>
                    <ul class="footer-social-list">
                        <li class="foteer-item">
                            <a href="" class="social-media-link">
                                <svg class="footer-icon" width="40px">
                                    <use href="../img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="foteer-item">
                            <a href="" class="social-media-link">
                                <svg class="footer-icon" width="40px">
                                    <use href="img/svg/sprite.svg#icon-Ellipse-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="foteer-item">
                            <a href="" class="social-media-link">
                                <svg class="footer-icon" width="40px">
                                    <use href="img/svg/sprite.svg#icon-Ellipse-2"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="foteer-item">
                            <a href="" class="social-media-link">
                                <svg class="footer-icon" width="40px">
                                    <use href="img/svg/sprite.svg#icon-Ellipse-3"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>