<header class="header">
    <div class="container container-header">
        <nav class="header-navigation">
            <a class="header-link" href="./index.html">mimiho</a>
            <ul class="header-list-adope">
                <li class="header-item">
                    <a class="nav-links" href="./restaurant.html">Ресторан
                        <svg class="phone-header-svg-icon" width="24" height="24px">
                            <use href="./img/sprite.svg#icon-phone"></use>
                        </svg>
                    </a>
                    <div class="contact-box">
                        <a href="tel:095 555 95 33" class="contact-number">095 555 95 33
                            <svg class="phone-header-svg-tablet" width="24" height="24px">
                                <use href="./img/sprite.svg#icon-phone"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="header-item">
                    <a class="nav-links" href="./hotel.html">Готель
                        <svg class="phone-header-svg-icon" width="24" height="24px">
                            <use href="./img/sprite.svg#icon-phone"></use>
                        </svg>
                    </a>
                    <div class="contact-box">
                        <a href="tel:066 849 10 89" class="contact-number">066 849 10 89
                            <svg class="phone-header-svg-tablet" width="24" height="24px">
                                <use href="./img/sprite.svg#icon-phone"></use>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>