
<section class="hero-rest">
      <div class="container">
        <div class="wrapper">
          <div class="grom-classe-ultra">
            <ul class="header-list-map">
              <li class="geo-item-header">
                <a
                  class="geo-map-header"
                  target="_blank"
                  href="https://www.google.com.ua/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5988289,34.5259777,17z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t?hl=ru"
                >
                  <svg class="phone-header-svg-map" width="20" height="20px">
                    <use href="./img/sprite.svg#icon-geo-location"></use>
                  </svg>
                  <span class="geo-span-text"
                    >Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <h1 class="hero-title-rest">mimiho</h1>
          <p class="hero-paragraph-rest">Ресторан</p>
          <h3 class="heroh3text">СМАК ЖИТТЯ 24/7</h3>
          <div class="btn-hero-box">
            <button class="btn-stolik btn-ones1" type="button">
              Забронювати столик
            </button>
            <button class="btn-stolik btn-ones2" type="button">
              Переглянути меню
            </button>
          </div>
          <div class="contact-hero-social">
            <ul class="hero-social-list">
              <li class="hero-social-item">
                <a href="" class="social-media-link">
                  <svg class="hero-social-icon" width="24px" height="24">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="hero-social-item">
                <a href="" class="social-media-link">
                  <svg class="hero-social-icon" width="24px" height="24">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="hero-social-item">
                <a href="" class="social-media-link">
                  <svg class="hero-social-icon" width="24px" height="24">
                    <use href="./img/sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
</html>
