<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/menu.css">
<section class="menu-restaurant">
<div class="container">
    <h2 class="menu-restaurant-tittle">Меню ресторану</h2>
    <div class="menu-restaurant-wrapper">
      <div class="menu-left-block-whole">
        <table class="table-hot-meals">
          <caption class="tittle-hidden">Гарячі страви</caption>
          <thead>
            <tr>
              <td><h3 class="table-meals-title">Гарячі страви</h3></td>
            </tr>
          </thead>
        <tbody style="display: table-row-group;">
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Борщ з телятини з квасолею</h4>
              <p class="table-food-ingredients">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">240 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4  class="dish-name">Суп сирний з куркою</h4>
              <p class="table-food-ingredients">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">200 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Паста карбонара</h4>
              <p class="table-food-ingredients">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
            </td>
            <td class="table-food-weight">350 г</td>
            <td class="table-food-price">430 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Стейк зі свинини</h4>
              <p class="table-food-ingredients">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">500 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Горбуша в соусі з білого вина</h4>
              <p class="table-food-ingredients">Ніжна горбуша, вершковий соус на основі білого вина</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">400 грн</td>
          </tr>
        </tbody>

        </table>
        <table class="table-snack-meals">
          <caption class="tittle-hidden">Гарніри та закуски</caption>
          <thead>
            <tr>
              <td><h3 class="table-meals-title">Гарніри та закуски</h3></td>
            </tr>
          </thead>
        <tbody style="display: table-row-group;">
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Запечені овочі</h4>
              <p class="table-food-ingredients">Кабачок, перець, помідор, баклажан</p>
            </td>
            <td class="table-food-weight">200 г</td>
            <td class="table-food-price">230 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Картопля фрі</h4>
              <p class="table-food-ingredients">Картопля, соус томатний</p>
            </td>
            <td class="table-food-weight">150 г</td>
            <td class="table-food-price">160 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Картопля по-селянськи</h4>
              <p class="table-food-ingredients">Картопля, спеції, соус пікантний</p>
            </td>
            <td class="table-food-weight">150 г</td>
            <td class="table-food-price">160 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Хрумкі соління з бочки</h4>
              <p class="table-food-ingredients">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
            </td>
            <td class="table-food-weight">250 г</td>
            <td class="table-food-price">350 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Крильця курячі в медовому соусі</h4>
              <p class="table-food-ingredients">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">420 грн</td>
          </tr>
        </tbody>

        </table>
      </div>
      <div class="menu-right-block-whole">
        <table class="table-hot-meals">
          <caption class="tittle-hidden">Салати</caption>
          <thead>
            <tr>
              <td><h3 class="table-meals-title">Салати</h3></td>
            </tr>
          </thead>
        <tbody style="display: table-row-group;">
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Цезар з куркою</h4>
              <p class="table-food-ingredients">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">450 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Цезар з креветками</h4>
              <p class="table-food-ingredients">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">300 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Грецький салат</h4>
              <p class="table-food-ingredients">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">380 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">М’ясний салат</h4>
              <p class="table-food-ingredients">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
            </td>
            <td class="table-food-weight">400 г</td>
            <td class="table-food-price">500 грн</td>
          </tr>
        </tbody>

        </table>
        <table class="table-hot-meals">
          <caption class="tittle-hidden">Десерти</caption>
          <thead>
            <tr>
              <td><h3 class="table-meals-title">Десерти</h3></td>
            </tr>
          </thead>
        <tbody style="display: table-row-group;">
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Торт наполеон</h4>
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">300 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Торт маковий</h4>          
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">300 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Тірамісу</h4>          
            </td>
            <td class="table-food-weight">230 г</td>
            <td class="table-food-price">380 грн</td>
          </tr>
        </tbody>

        </table>
        <table class="table-hot-meals">
          <caption class="tittle-hidden">Напої</caption>
          <thead>
            <tr>
              <td><h3 class="table-meals-title">Напої</h3></td>
            </tr>
          </thead>
        <tbody style="display: table-row-group;">
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Чай чорний/зелений</h4>          
            </td>
            <td class="table-food-weight">500 мл</td>
            <td class="table-food-price">100 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Еспресо</h4>          
            </td>
            <td class="table-food-weight">30 мл</td>
            <td class="table-food-price">100 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Американо</h4>          
            </td>
            <td class="table-food-weight">150 мл</td>
            <td class="table-food-price">100 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Капучино</h4>          
            </td>
            <td class="table-food-weight">200 мл</td>
            <td class="table-food-price">160 грн</td>
          </tr>
          <tr>
            <td class="table-food-name">
              <h4 class="dish-name">Лате</h4>          
            </td>
            <td class="table-food-weight">200 мл</td>
            <td class="table-food-price">160 грн</td>
          </tr>
        </tbody>

        </table>
      </div>
    </div>
        <div class="menu-btn-position">
            <button type="button" class="desk-booking btn-hover btn-focus" data-modal-open>Забронювати столик</button>
        </div>
    
        <!-- modal-window -->
    <!-- <div class="backdrop" data-modal>
        <div class="modal-booking-desk">
            <button type="button" class="close-modal-btn" data-modal-close>
                <svg class="close-modal-btn-icon">
                    <use href="../img/sprite.svg#icon-x" width="24" height="24"></use>
                </svg>
            </button>
        </div>
    </div> -->
</div>
</section>

