* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-3-adult {
    background-color: #F0ECD6;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.container-3-adult {
    margin-left: auto;
    margin-right: auto;
}
.adult-3-svg-btt svg:hover,
.adult-3-svg-btt svg:focus {
fill: #F3C653;
}

@media (max-width: 413px) {
    .container-3-adult {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 32px 15px;
    }

    .text-container-3 {
        margin-top: 12px;
        width: 258px;
        height: 76px;
        margin-left: 83px;
    }
    .mimino-container {
        justify-content: flex-end;
        display: flex;
        width: 100%;
}
    .headline-3-mimino {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
        color: #494848;
        letter-spacing: 0.3em;
    }

    .text-3-adult {
        color: #7A7A7A;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 14.63px;
        letter-spacing: 0.02em;
    }

    .headlines-number-3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.6px;
        margin-top: 32px;
        text-align: end;
    }

    .headline-3-adult {
        font-family: 'Times New Roman', Times, serif;
        color: #B4B4B4;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;
        margin-right: 0;
        margin-left: auto;
        text-align: end;
    }

    .item-btt-3-adult {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        border: 2px solid #FFFFFF;
    }

    .item-btt-3-adult:focus,
    .item-btt-3-adult:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt-3-adult {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }


    .slaider-3-adult {
        position: relative;
        display: flex;
        margin-left: 100px;
    }

    .bedroom-img-3-adult {
        margin-right: auto;
        margin-left: 0;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .img-cup-3-adult {
        width: 194px;
        height: 194px;
        margin-left: 15px;
        background-image: url(../img/cup-desktop.png);
        overflow: hidden;
    }

    .bath-3-adult {
        width: 194px;
        height: 194px;
    }

    .adult-3-svg {
        display: flex;
        position: absolute;
        left: 58%;
        top: 110%;
    }

    .adult-3-svg-btt {
        background-color: #F0ECD6;
        border: 1px solid #F0ECD6;
        width: 32px;
        height: 32px;
    }

    .adult-3-svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}

@media (min-width: 414px) and (max-width: 1023px) {
    .section-3-adult {
        height: auto;
        background-color: #F0ECD6;
        overflow: visible;
    }

    .container-3-adult {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 414px;
        padding: 32px 15px;
    }

    .text-container-3 {
        margin-top: 12px;
        width: 258px;
        height: 76px;
        margin-left: auto;
        margin-right: 59px;
    }
    .mimino-container {
        justify-content: flex-end;
        display: flex;
        width: 100%;
    }

    .headline-3-mimino {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
        color: #494848;
        letter-spacing: 0.3em;
    }

    .text-3-adult {
        color: #7A7A7A;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 14.63px;
        letter-spacing: 0.02em;
    }

    .headlines-number-3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.6px;
        margin-top: 32px;
        text-align: end;
    }

    .headline-3-adult {
        font-family: 'Times New Roman', Times, serif;
        color: #B4B4B4;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;
        margin-right: 0;
        margin-left: auto;
        text-align: end;
    }

    .item-btt-3-adult {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        border: 2px solid #FFFFFF;
    }

    .item-btt-3-adult:focus,
    .item-btt-3-adult:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt-3-adult {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }

    .slaider-3-adult {
        margin-left: 34%;
        position: relative;
        display: flex;
    }

    .bedroom-img-3-adult {
        margin-right: auto;
        margin-left: 0;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .img-cup-3-adult {
        width: 194px;
        height: 194px;
        margin-left: 15px;
        background-image: url(../img/cup-desktop.png);
        overflow: hidden;
    }


    .bath-3-adult {
        width: 194px;
        height: 194px;
    }

    .adult-3-svg {
        position: absolute;
        left: 60%;
        top: 110%;
    }

    .adult-3-svg-btt {
        background-color: #F0ECD6;
        border: 1px solid #F0ECD6;
        width: 32px;
        height: 32px;
    }

    .adult-3-svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .section-3-adult {
        min-width: auto;
        height: 838px;
        padding-top: 62px;
        padding-left: 47px;
        padding-right: 47px;
        background-color: #F0ECD6;
    }

    .container-3-adult {
        width: 1024px;
        position: relative;
        padding: 0;
    }

    .text-container-3 {
        margin-left: auto;
        margin-right: 30px;
        width: 439px;
        height: 80px;
    }

    .text-3-adult {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0.02em;
        color: rgb(122, 122, 122);
    }
    .mimino-container {
    display: flex;
    width: 202px;
    height: 69px;
    margin-left: 773px;
    }

    .headline-3-mimino {
        color: #494848;
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 67px;
        letter-spacing: 0.3em;
    }

    .headlines-number-3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 34.5px;
        letter-spacing: 0.05em;
        margin-top: 62px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: 95px;
        text-align: end;
    }

    .headline-3-adult {
        font-family: 'Times New Roman', Times, serif;
        color: #B4B4B4;
        font-size: 32px;
        line-height: 36.8px;
        margin-bottom: 4px;
        margin-left: 656px;
    }

    .flex-3-adult {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    }

    .item-btt-3-adult {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2em;
        border: 2px solid #FFFFFF;
    }

    .item-btt-3-adult:not(:last-child) {
        margin-bottom: 16px;
    }

    .item-btt-3-adult:focus,
    .item-btt-3-adult:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt-3-adult {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
        margin-right: 266px;
    }

    .bedroom-img-3-adult {
        width: 400px;
        height: 524px;
        margin-left: 50px;
        margin-top: -395px;
    }

    .img-cup-3-adult {
        width: 194px;
        height: 194px;
        margin-left: 40px;
        background-image: url(../img/cup-desktop.png);
        background-size: cover;
    }

    .bath-3-adult {
        width: 194px;
        height: 194px;
    }

    .slaider-3-adult {
        position: relative;
        margin-top: 48px;
        display: flex;
    }

    .adult-3-svg {
    position: absolute;
    left: -10px;
    bottom: -70px;
    }

    .adult-3-svg-btt {
        background-color: #F0ECD6;
        border: 1px solid #F0ECD6;
        width: 40px;
        height: 40px;
    }

    .adult-3-svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}

@media (min-width: 1280px) {
    .section-3-adult {
        height: 956px;
        padding-top: 72px;
        padding-left: 85px;
        padding-right: 85px;
        background-color: #F0ECD6;
    }

    .container-3-adult {
        position: relative;
        width: 1280px;
        height: 100%;
        padding: 0;
    }

        .text-container-3 {
            margin-left: 58%;
            width: 439px;
            height: 80px;
        }
    
        .text-3-adult {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 19.5px;
            letter-spacing: 0.02em;
            color: rgb(122, 122, 122);
        }
    
        .mimino-container {
            margin-left: 77%;
        }
    
        .headline-3-mimino {
            color: #494848;
            font-family: 'Film P3';
            font-weight: 700;
            font-size: 64px;
            line-height: 67px;
            letter-spacing: 0.3em;
        }
    
        .headlines-number-3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 41.4px;
        letter-spacing: 0.05em;
        margin-top: 62px;
        margin-bottom: 16px;
        margin-left: 58%;
        }
    
        .headline-3-adult {
            font-family: 'Times New Roman', Times, serif;
            color: #B4B4B4;
            font-size: 32px;
            line-height: 37px;
            margin-bottom: 4px;
            margin-left: 68%;
        }
    
        .flex-3-adult {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    
        .item-btt-3-adult {
            width: 236px;
            height: 48px;
            border-radius: 25px;
            background-color: #000000;
            color: #F3C653;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2em;
            border: 2px solid #FFFFFF;
        }
    
        .item-btt-3-adult:not(:last-child) {
            margin-bottom: 16px;
        }
    
        .item-btt-3-adult:focus,
        .item-btt-3-adult:hover {
            background-color: #FFFFFF;
            border: 2px solid #F3C653;
        }
    
        .btt-3-adult {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 72px;
            margin-right: 266px;
        }
    
        .bedroom-img-3-adult {
            width: 460px;
            height: 574px;
            margin-left: 85px;
            margin-top: -415px;
        }
    
        .img-cup-3-adult {
            width: 254px;
            height: 254px;
            margin-left: 40px;
            background-image: url(../img/cup-desktop.png);
            background-size: cover;
        }
    
        .bath-3-adult {
            width: 254px;
            height: 254px;
        }
    
        .slaider-3-adult {
            position: relative;
            margin-top: 48px;
            display: flex;
        }
    
        .adult-3-svg {
            position: absolute;
            left: -10px;
            bottom: -70px;
        }
    
        .adult-3-svg-btt {
            background-color: #F0ECD6;
            border: 1px solid #F0ECD6;
            width: 40px;
            height: 40px;
        }
    
        .adult-3-svg-btt:not(:last-child) {
            margin-right: 32px;
        }
        }