* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-luxe {
    background-color: #FFFDEE;
}
@media (min-width: 414px) {
    .section-luxe {
        width: 414px;
    }
        .container-luxe {
            position: relative;
            width: 414px;
            margin-right: 0;
            padding: 32px 15px;
        }
    
        .text-container {
            width: 258px;
            height: 76px;
        }
    
        .headline {
            color: #494848;
        }
    
        .text-luxe {
            color: #7A7A7A;
            font-family: "Montserrat" serif;
            font-weight: 600;
            line-height: 14.63px;
        }
    
        .headlines-luxe {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 27.6px;
        }
    
        .headline-first {
            font-family: 'Times New Roman', Times, serif;
            color: #B4B4B4;
            font-size: 20px;
            line-height: 23px;
        }
    
        .luxe-btt {
            width: 236px;
            height: 48px;
            border-radius: 25px;
            background-color: #000000;
            color: #F3C653;
            font-family: "Montserrat" serif;
            font-weight: 700;
            border: 2px solid #FFFFFF;
        }
    
        .luxe-btt:focus,
        .luxe-btt:hover {
            background-color: #FFFFFF;
            border: 2px solid #F3C653;
        }
    
        .btt {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 72px;
        }
    
        .bath-img {
            margin-right: 0;
            margin-left: auto;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    
        .img-cup {
            margin-left: 75px;
        }
    
        .luxe-svg {
            position: absolute;
            left: 16px;
            bottom: 120px;
        }
    
        .svg-btt {
            background-color: #FFFDEE;
            border: 1px solid #FFFDEE;
        }
}
.container-luxe {
    position: relative;
    padding: 32px 15px;
    width: 414px;
}
.text-container {
    width: 258px;
    height: 76px;
}
.headline {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #494848;
    letter-spacing: 0.3em;
}
.text-luxe {
    color: #7A7A7A;
    font-family: "Montserrat" serif;
    font-weight: 600;
    line-height: 14.63px;
    margin-bottom: 32px;
}
.headlines-luxe {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    margin-top: 32px;
    margin-bottom: 12px;
}
.headline-first {
    font-family: 'Times New Roman', Times, serif;
    color: #B4B4B4;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
}
.luxe-btt {
    width: 236px;
    height: 48px;
    border-radius: 25px;
    background-color: #000000;
    color: #F3C653;
    font-family: "Montserrat" serif;
    font-weight: 700;
    border: 2px solid #FFFFFF;
}
.luxe-btt:focus,
.luxe-btt:hover {
    background-color: #FFFFFF;
    border: 2px solid #F3C653;
}
.btt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}
.bath-img {
    margin-right: 0;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.img-cup {
    margin-left: 75px;
    margin-right: auto;
    
}
.luxe-svg {
    position: absolute;
    left: 16px;
    bottom: 120px;
}
.svg-btt {
    background-color: #FFFDEE;
    border: 1px solid #FFFDEE;
}