* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-luxe {
    background-color: #FFFDEE;
    margin-left: auto;
    margin-right: auto;
}
.container-luxe {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 413px) {
.container-luxe {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 32px 15px;
}
.text-container {
    margin-top: 12px;
    width: 258px;
    height: 76px;
}

.headline {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #494848;
    letter-spacing: 0.3em;
}

.text-luxe {
    color: #7A7A7A;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 0.02em;
}

.headlines-luxe {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    margin-top: 32px;
}

.headline-first {
    font-family: 'Times New Roman', Times, serif;
    color: #B4B4B4;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
}

.luxe-btt {
    width: 236px;
    height: 48px;
    border-radius: 25px;
    background-color: #000000;
    color: #F3C653;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border: 2px solid #FFFFFF;
}

.luxe-btt:focus,
.luxe-btt:hover {
    background-color: #FFFFFF;
    border: 2px solid #F3C653;
}

.btt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.slaider-lux {
    display: flex;
}

.bedroom-img {
    margin-right: 0;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.img-cup {
    width: 194px;
    height: 194px;
    margin-left: 15px;
    margin-right: auto;

}

.bath {
    width: 194px;
    height: 194px;
    margin-left: -140px;
}

.luxe-svg {
    position: absolute;
    left: 16px;
    bottom: 145px;
}

.svg-btt {
    background-color: #FFFDEE;
    border: 1px solid #FFFDEE;
    width: 32px;
    height: 32px;
}

.svg-btt:not(:last-child) {
    margin-right: 32px;
}
}
@media (min-width: 414px) and (max-width: 1023px) {
    .section-luxe {
        width: 414px;
    }

    .container-luxe {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 414px;
        margin-right: 0;
        padding: 32px 15px;
    }

.text-container {
    margin-top: 12px;
    width: 258px;
    height: 76px;
}

.headline {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #494848;
    letter-spacing: 0.3em;
}

.text-luxe {
    color: #7A7A7A;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 0.02em;
}

.headlines-luxe {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    margin-top: 32px;
}

.headline-first {
    font-family: 'Times New Roman', Times, serif;
    color: #B4B4B4;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
}

    .luxe-btt {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        border: 2px solid #FFFFFF;
    }

    .luxe-btt:focus,
    .luxe-btt:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }
    .slaider-lux {
        display: flex;
    }
    .bedroom-img {
        margin-right: 0;
        margin-left: auto;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .img-cup {
        width: 194px;
        height: 194px;
        margin-left: 15px;
    }

    .bath {
        width: 194px;
        height: 194px;
        margin-left: -140px;
    }
    .luxe-svg {
        position: absolute;
        left: 16px;
        bottom: 145px;
    }

    .svg-btt {
        background-color: #FFFDEE;
        border: 1px solid #FFFDEE;
        width: 32px;
        height: 32px;
    }
    
.svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}
@media (min-width: 1024px) and (max-width:1279px) {
    .section-luxe {
        width: 1024px;
        height: 838px;
        padding-top: 62px;
        padding-left: 47px;
        padding-right: 47px;
    }

    .container-luxe {
        position: relative;
        width: 1024px;
        height: 838px;
        padding: 0;
    }

    .text-container {
        width: 439px;
        height: 80px;
    }
    .text-luxe {
    font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0.02em;
        color: rgb(122, 122, 122);
    }

    .headline {
        color: #494848;
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 67px;
        letter-spacing: 0.3em;
    }

    .headlines-luxe {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        margin-top: 62px;
        margin-bottom: 16px;
    }

    .headline-first {
        font-family: 'Times New Roman', Times, serif;
        color: #B4B4B4;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 4px;
    }
    .flex-lux {
        display: flex;
    }

    .luxe-btt {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2em;
        border: 2px solid #FFFFFF;
    }
    .luxe-btt:not(:last-child) {
        margin-bottom: 16px;
    }

    .luxe-btt:focus,
    .luxe-btt:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
        margin-left: 266px;
    }

    .bedroom-img {
        width: 400px;
        height: 524px;
        margin-left: 465px;
        margin-top: -395px;
    }

    .img-cup {
        width: 194px;
        height: 194px;
        margin-left: 40px;
    }

    .bath {
        width: 194px;
        height: 194px;
    }
    .slaider-lux {
        margin-top: 48px;
        display: flex;
    }

    .luxe-svg {
        position: absolute;
        left: 320px;
        bottom: 80px;
    }
    .svg-btt {
        background-color: #FFFDEE;
        border: 1px solid #FFFDEE;
        width: 40px;
        height: 40px;
    }

    .svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}
@media (min-width: 1280px) {
.section-luxe {
        padding-top: 72px;
        padding-left: 85px;
        padding-right: 85px;
    }

    .container-luxe {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .text-container {
        width: 400px;
        height: 83px;
        margin-bottom: 188px;
    }

    .text-luxe {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0.02em;
        color: rgb(122, 122, 122);
    }

    .headline {
        color: #494848;
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 68.84px;
        letter-spacing: 0.3em;
    }

    .headlines-luxe {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 41.4px;
        letter-spacing: 0.05em;
        margin-top: 72px;
        margin-bottom: 24px;
    }

    .headline-first {
        font-family: 'Times New Roman', Times, serif;
        color: #B4B4B4;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 4px;
    }

    .flex-lux {
        display: flex;
    }

    .luxe-btt {
        width: 236px;
        height: 48px;
        border-radius: 25px;
        background-color: #000000;
        color: #F3C653;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2em;
        border: 2px solid #FFFFFF;
    }

    .luxe-btt:not(:last-child) {
        margin-bottom: 16px;
    }

    .luxe-btt:focus,
    .luxe-btt:hover {
        background-color: #FFFFFF;
        border: 2px solid #F3C653;
    }

    .btt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
        margin-left: auto;
        margin-right: ;
    }

    .bedroom-img {
        width: 460px;
        height: 547px;
        margin-left: auto;
        margin-right: 108px;
        margin-top: -625px;
    }

    .img-cup {
        width: 254px;
        height: 254px;
        margin-left: 40px;
    }

    .bath {
        width: 254px;
        height: 254px;
    }

    .slaider-lux {
        margin-top: 48px;
        display: flex;
    }

    .luxe-svg {
        position: absolute;
        left: 445px;
        bottom: 40px;
    }

    .svg-btt {
        background-color: #FFFDEE;
        border: 1px solid #FFFDEE;
        width: 40px;
        height: 40px;
    }

    .svg-btt:not(:last-child) {
        margin-right: 32px;
    }
}