/* HOTEL*/

.hotel-section{
  background: #FFFDEE;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  min-width: 414px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container{
    padding-right: 15px;
    padding-left: 15px;
    min-width: 1024px;
    margin: 0 auto;
  }
}

.hotel-bedroom{
  display: block;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .hotel-bedroom{
    display: block;
    margin-bottom: 32px;
  }
}

.hotel-discription{
  text-align: right;
  margin-bottom: 28px;
}

.hotel-article{
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #b4b4b4;
  margin-bottom: 6px;
}

.hotel-title{
  display: block;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 16px;
}

.hotel-paragraf{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  max-width: 242px;
  text-align: left;
  margin-left: auto;
  margin-right: 0;
}

.hotel-living{
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  gap: 20px;
  margin-bottom: 32px;

}

.hotel-text{
  max-width: 163px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #C79002;
  font-style: normal;
  padding-top: 70px;
}

.hotel-holl{
  margin-right: 0;
}

.hotel-slide{
  gap: 20px;
  margin-bottom: 27px;
}

.hotel-registration{
  display: flex;
  max-width: 245px;
  margin-left: 70px;
}

.hotel-bed{
  display: none;
}

.luxe-svg{
  margin-bottom: 27px;
  gap: 33px;
}

.svg-btt{
  border: none;
  background-color: #FFFDEE;
  cursor: pointer;
}


.icon-luxe{
  fill: #000000;
}
