.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner-hotel {
  padding: 16px 16px 72px 15px;
  max-width: 414px;
  margin: 0 auto;
  position: relative;
}
.hotel {
  background: #fffdee;
  position: relative;
  background: #fffdee;
  padding-bottom: 72px;
  overflow: hidden;
}
.hotel-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.hotel-one {
  margin-bottom: 32px;
}
.hotel-two {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}
.hotel-pretitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  color: #b4b4b4;
}
.hotel-title {
  margin: 12px 0;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;

  color: #494848;
}
.hotel-text {
  margin-bottom: 28px;
  max-width: 216px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: start;

  color: #7a7a7a;
}
.hotel-text-next {
  max-width: 163px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.hotel-img {
  width: 244px;
  height: 322px;
  margin-right: 155px;
  margin-bottom: 32px;

  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.hotel-imga {
  width: 200px;
  height: 278px;

  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.hotel-imge {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.conteiner-hot {
  display: flex;
  gap: 25px;
  margin-right: 84px;
  flex-direction: row-reverse;
}

.svg-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
}
.hotel-svg {
  position: absolute;
  display: flex;
  gap: 32px;
  left: 25px;
  bottom: 25px;
}
.icon-fill {
  fill: #000000;
}
.icon-fill:hover,
.icon-fill:focus {
  fill: #f3c653;
}

@media screen and (min-width: 1024px) {
  .conteiner-hotel {
    max-width: 918px;
    padding-left: 47px;
    padding-top: 0px;
    padding-bottom: 96px;
  }
  .hotel {
    overflow: visible;
  }
  .hotel-img {
    width: 400px;
    height: 524px;
    margin-top: -25px;
    margin-right: 26px;
    margin-bottom: 0;

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }

  .hotel-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #494848;
  }
  .hotel-text {
    max-width: 375px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
  .hotel-one {
    margin-bottom: 48px;
  }
  .hotel-two {
    margin-bottom: 0;
    gap: 48px;
  }
  .hotel-imga {
    width: 350px;
    height: 500px;
    margin-top: -25px;

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }
  .hotel-imge {
    width: 194px;
    height: 194px;
  }
  .conteiner-hot {
    justify-content: flex-end;
    margin-top: -25px;
    margin-left: 0;
  }

  .hotel-text-next {
    max-width: 312px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    /* Brown */

    color: #c79002;
  }
  .hotel-svg {
    left: 40px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner-hotel {
    max-width: 1110px;
  }
  .conteiner-hot {
    margin-top: -35px;
  }
  .hotel-img {
    width: 460px;
    height: 574px;
    margin-right: 37px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .hotel-text {
    max-width: 518px;
  }

  .hotel-two {
    gap: 32px;
  }
  .hotel-imga {
    width: 460px;
    height: 574px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .hotel-imge {
    width: 254px;
    height: 254px;
  }
}
