.conteiner {
  padding: 16px 16px 72px 15px;
  max-width: 414px;
  margin: 0 auto;
}
.rest {
  background: #fffdee;
}
.rest-page {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
.rest-one {
  margin-bottom: 32px;
}
.rest-two {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.rest-pretitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  color: #b4b4b4;
}
.rest-title {
  margin: 12px 0;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #494848;
}
.rest-text {
  margin-bottom: 28px;
  max-width: 216px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
.rest-text-next {
  max-width: 163px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  
}
.rest-img {
  margin-left: 100px;
  margin-bottom: 32px;
}
.rest-imge {
  
}
.rest-foto {
  display: flex;
  gap: 25px;
  margin-left: 84px;
}
.conteiner-foto{
 
  
}

@media screen and (min-width: 1024px){
    .conteiner {
    max-width: 917px;
    padding-left: 47px;
    padding-top: 0px;
    padding-bottom: 96px;
    
  }
.rest{
    
}
.rest-page {
   
}
.rest-text{
    max-width: 430px;
}
.rest-one {
  margin-bottom: 0px;
  
}
.rest-two {
  

}
.rest-imge{
  width: 194px;
  height: 194px;
  margin-top: -60px;
  

}
.rest-foto{
  justify-content: flex-end;
  margin-right: 60px;
  
}
.rest-img{
  
    margin-left: 26px;
    margin-bottom: 0;
}
.rest-text-next{
    max-width: 312px;
}
}

@media screen and (min-width: 1280px){
    .conteiner {
    max-width: 1110px;
  }
}