.container-amenities {
    width: 414px;
    padding: 32px 15px;
    margin: 0 auto;
    background-color: #FFFDEE;
}
    @media screen and (min-width: 320px) and (max-width: 413px) {
        .container-amenities {
        max-width: 414px;

    }
}

    @media screen and (min-width: 414px) and (max-width: 1023px) {
        .container-amenities {
        width: 414px;
    }
}

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .container-amenities {
        width: 1024px;
        padding: 50px 47px 40px 47px;

    }

} 

@media screen and (min-width: 1280px) {
    .container-amenities {
        padding: 48px 199px 48px 85px;
        width: 1280px;

    }   
}

.amenities-section {
    background-color: #FFFDEE;

}

/* .amenities {} */

.amenities-list {
    margin: 0;
    padding: 0;
}

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .amenities-list {
        display: flex;
        column-gap:80px;
    }
} */

.amenities-title {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;

    color: #000000;
}

.amenities-item {
    list-style: none;
    margin-bottom: 32px;
}


.amenities-subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    color: #000000;
}

/* @media screen and (min-width:1024px) and (max-width:1279px) {
    .amenities-subtitle {
        position: relative;
    }
} */

.amenities-text-subtitle {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
}

@media screen and (min-width: 1024px) {
    .amenities-text-subtitle {
        width: 757px;
    }    
}

@media screen and (min-width: 1024px)  and (max-width: 1279px){
.amenities-box{
    display: flex;
    gap: 80px;
}
} 

@media screen and (min-width: 1280px) {
.amenities-box{
    display: flex;
    gap: 159px;
    }
}

.amenities-text {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #7A7A7A;
}

@media screen and (min-width:1024px) {
    .amenities-text {
        width: 400px;
    }
    
} 

.amenities-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

@media screen and (min-width: 1024px)  {
    .amenities-booking {
        align-items: flex-end;
    }
}

.amenities-booking-button {
    width: 384px;
    height: 64px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.amenities-booking-button:focus,
.amenities-booking-button:hover {
    background-color: #F3C653;
    border: 1px solid;
    color: #000000;
}

@media screen and (min-width:1024px)  {
    .amenities-booking-button {
    width: 434px;
    font-size: 24px;
    line-height: 1.20;
    margin-bottom: 32px;
    }
}

.amenities-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}


.amenities-booking-svg {
    fill: #000000;
}

.amenities-booking-svg:hover,
.amenities-booking-svg:focus {
    fill: #C79002;
}


.amenities-hotel-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

@media  screen and (min-width: 1024px)  {
    .amenities-hotel-link {
        font-size: 20px;
        line-height: 1.2;
    }
}

.amenities-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color:rgba(46, 47, 66, 0.4);
}

.amenities-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* .backdrop .is-hidden .amenities-modal {
    transform: translate (-50%, -50%) scaleX(0);
} */

.amenities-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 414px;
    height: 780px;
    background: #FFFDEE;
    border-radius: 2px;
    padding: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .amenities-modal {
        max-width:414px

}
}

@media screen and (min-width:1024px)  {
    .amenities-modal {
        width: 712px;
        height: 638px;
        padding: 60px;
        border: 1px solid #F3C653;
    }
    
}

.amenities-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border:none;
}

.amenities-modal-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 35px;   
}   

@media screen and (min-width: 1024px) {
    .amenities-modal-title{
        font-size: 40px;
        line-height: 1.15;
        margin-top: 0;
        
    }
}

.amenities-form {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px){
 .amenities-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }
}

.amenities-modal-form-label {
        display: grid;
        margin-bottom: 20px;
}

@media screen and (min-width: 1024px){
 .amenities-modal-form-label:nth-child(-n+2) {
    margin-bottom: 28px;
}
}

@media screen and (min-width: 1024px) {
.amenities-modal-form-label {
    margin-bottom: 0px;
}
}



.amenities-modal-input {
    font-family: 'Times New Roman';

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #808080;
    width: 100%;
    height: 54px;

    border: 1px solid #C79002;
    border-radius: 2px;
    background-color: transparent;
    padding: 12px 17px;
    margin-bottom: 8px;

}

@media screen and (min-width: 1024px) {
 .amenities-modal-input {
    width: 288px;
    height: 64px;
    padding: 18px 12px;
    font-size: 24px;
    line-height: 1.16;
}
}

.amenities-span {
    font-family: 'Montserrat';
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
    .primary {
        font-size: 16px;
        line-height: 1.25;  
    }
}

@media screen and (min-width: 1024px) {
.amenities-span{
    font-size: 16px;
    line-height: 1.25;
    }
    
}

.amenities-select-wrap {
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px){  
 .amenities-select-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
 }
}

.amenities-select-form {
    width: 100%;
    height: 54px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #808080;
    padding: 12px 18px;
    background-color: transparent;
    border: 1px solid #C79002;
    border-radius: 2px;
    margin-bottom: 8px;
}

.amenities-select-form::after {
    fill: #C79002;
    background-color: transparent;
    background-image: url('../img/sprite.svg#icon-arrow-down-modal');
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 414px) and (max-width: 1023px) {
    .amenities-select-form {
        height: 64px;
    }
}

@media screen and (min-width: 1024px){
 .amenities-select-form {
    width: 288px;
    height: 64px;
    padding: 18px 12px;
    font-size: 24px;
    line-height: 1.16;
 }
}

@media screen and (min-width: 1024px) {
.amenities-submit {
    align-items: center;
}
}   

.amenities-button-submit {
    width: 384px;
    height: 64px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 2px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 40px;
}

.amenities-button-submit:hover,
.amenities-button-submit:focus {
    background-color: #F3C653;
    color: #000000;
}

@media  screen and (min-width: 1024px) {
.amenities-button-submit {
    width: 592px;
    height: 64px;
    align-items: center;
    font-size: 24px;
    line-height: 1.20;
    }
}