.container-amenities {
    width: 414px;
    padding: 32px 15px;
    margin: 0 auto;
}
    @media screen and (min-width: 320px) and (max-width: 413px) {
        .container-amenities {
        max-width: 414px;

    }
}

    @media screen and (min-width: 414px) and (max-width: 1023px) {
        .container-amenities {
        width: 414px;
    }
}

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .container-amenities {
        width: 1024px;
        padding: 50px 47px 40px 47px;

    }

} 

@media screen and (min-width: 1280px) {
    .container-amenities {
        padding: 48px 199px 48px 85px;
        width: 1280px;

    }   
}

.amenities-section {
    background-color: #FFFDEE;

}

/* .amenities {} */

.amenities-list {
    margin: 0;
    padding: 0;
}

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .amenities-list {
        display: flex;
        column-gap:80px;
    }
} */

.amenities-title {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;

    color: #000000;
}

.amenities-item {
    list-style: none;
    margin-bottom: 32px;
}


.amenities-subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    color: #000000;
}

/* @media screen and (min-width:1024px) and (max-width:1279px) {
    .amenities-subtitle {
        position: relative;
    }
} */

.amenities-text-subtitle {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
}

@media screen and (min-width: 1024px) {
    .amenities-text-subtitle {
        width: 757px;
    }    
}

@media screen and (min-width: 1024px)  and (max-width: 1279px){
.amenities-box{
    display: flex;
    gap: 80px;
}
} 

@media screen and (min-width: 1280px) {
.amenities-box{
    display: flex;
    gap: 159px;
    }
}

.amenities-text {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #7A7A7A;
}

@media screen and (min-width:1024px) {
    .amenities-text {
        width: 400px;
    }
    
} 

.amenities-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px)  {
    .amenities-booking {
        align-items: flex-end;
    }
}

.amenities-booking-button {
    width: 384px;
    height: 64px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
}

@media screen and (min-width:1024px)  {
    .amenities-booking-button {
    width: 434px;
    font-size: 24px;
    line-height: 1.20;
    margin-bottom: 32px;
    }
}

.amenities-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

.amenities-booking-svg {
    padding-left: 12px;
    fill: #C79002;
}

/* .booking-link {

} */

.amenities-hotel-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

@media  screen and (min-width: 1024px)  {
    .amenities-hotel-link {
        font-size: 24px;
        line-height: 1.2;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color:rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* .backdrop .is-hidden .amenities-modal {
    transform: translate (-50%, -50%) scaleX(0);
} */

.amenities-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 414px;
    height: 780px;
    background: #FFFDEE;
    border-radius: 2px;
    padding: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .amenities-modal {
        max-width:414px

}
}

@media screen and (min-width:1024px)  {
    .amenities-modal {
        width: 712px;
        height: 638px;
        border: 1px solid #F3C653;
    }
    
}

.amenities-modal-close {
    position: absolute;
    display: flex;
    right: 16px;
    border: none;
    background-color: transparent;
}

.amenities-icon {
    fill: black;
}


@media screen and (min-width: 1024px) {
.amenities-form {
    display: flex;
}
}

.amenities-modal-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    letter-spacing: 0.05em;
    color: #000000;
    /* margin-bottom: 40px; */
    text-align: center;
    margin-top: 35px;   
}   

@media screen and (min-width: 1024px) {
    .amenities-modal-title{
        font-size: 40px;
        line-height: 1.15;
    }
}


.amenities-modal-input {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #808080;
    width: 384px;
    height: 54px;
    padding: 12px 17px;
    border: 1px solid #C79002;
    border-radius: 2px;
    background-color: transparent;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* .amenities-modal-input:first-child{
    margin-top: 0;
} */
@media screen and (min-width: 414px) and (max-width: 1023px)  {
    .amenities-modal-input{
    line-height: 1.15;
}
}

@media screen and (min-width: 1024px) {
    .amenities-modal-input {
        width: 288px;
        height: 64px;
        font-size: 24px;
        line-height: 1.16;
        margin-top: 36px;
        font-size: 16px;
        line-height: 1.25;
    }
}


.wrap {
    height: 64px ;
}

.amenities-modal-form-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;

}


.amenities-select-form {
    width: 384px;
    height: 54px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15; 
    letter-spacing: 0.05em;
    background-color: transparent;
    color: #808080;
    border: 1px solid #C79002;
    margin-top: 20px;

}


/* .amenities-modal-wrap {
    display: block;
    position: relative;
} */

.amenities-modal-svg {
    position: absolute;
    top: 40%;
    right: 20px;
    fill: #C79002;
}

.amenities-button-submit {
    width: 384px;
    height: 64px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 2px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 40px;
}

@media  screen and (min-width: 1024px) {
.button-submit {
    width: 592px;
    height: 64px;
    align-items: center;
    font-size: 24px;
    line-height: 1.20;
    }
}