body {
    font-family: "Montserrat", sans-serif;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.link {

    list-style: none;

}


.container-datail-rest {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;

}

@media screen and (min-width: 414px) {
    .container-datail-rest {
        max-width: 414px;

    }
}

@media screen and (min-width: 1024px) {
    .container-datail-rest {
        max-width: 960px;

    }
}

@media screen and (min-width: 1280px) {
    .container-datail-rest {
        max-width: 1173px;

    }
}

.details-rest {
    padding-top: 24px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./img/details-of-rest/bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .details-rest {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/details-of-rest/bg-mobile-2x.jpg);
    }
}



@media screen and (min-width: 1024px) {
    .details-rest {
        padding-top: 48px;
        padding-bottom: 96px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/details-of-rest/bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .details-rest {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/details-of-rest/bg-tablet-2x.jpg);
        }
    }
}


@media screen and (min-width: 1280px) {
    .details-rest {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/details-of-rest/bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .details-rest {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/details-of-rest/bg-2x.jpg);
        }
    }
}


.logo-details-rest {
    margin-bottom: 12px;
    margin-left: 125px;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .logo-details-rest {
        margin-bottom: 16px;
        margin-left: 246px;
        font-size: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .logo-details-rest {
        margin-left: 268px;
    }
}


.title-details-rest {
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .title-details-rest {
        margin-bottom: 8px;
        margin-left: 246px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .title-details-rest {
        margin-left: 268px;
    }
}

.details-rest-text {
    max-width: 258px;
    margin-left: 125px;
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;

    letter-spacing: 0.02em;


    color: #BABABA;
}

@media screen and (min-width: 1024px) {
    .details-rest-text {
        max-width: 580px;
        margin-bottom: 40px;
        margin-left: 246px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .details-rest-text {
        margin-left: 268px;
    }
}

.details-of-rest-list {
    margin-left: 25px;
    /* margin-bottom: 80px; */
    display: flex;
    gap: 20px;

}

.details-of-rest-item {
    flex-shrink: 0;
}

.wrap-ralative {
    position: relative;
    margin-left: 25px;
}

.details-of-rest-svg {
    position: absolute;
    bottom: -50px;
    display: flex;
    gap: 32px;
}

.svg-btn-res {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
}

.icon-arrow {
    fill: #FFFFFF;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.svg-btn-res:hover .icon-arrow,
.svg-btn-res:focus .icon-arrow {
    fill: #F3C653;

}

.rest-booking {
    display: block;
    min-width: 236px;
    min-height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 80px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    background-color: rgba(0, 0, 0, 0.4);
    color: #F3C653;

    border: 2px solid #FFFFFF;
    border-radius: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rest-menu {
    display: block;
    padding: 12px 29px;
    margin-left: auto;
    margin-right: auto;
    max-width: 236px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;

    text-align: center;
    letter-spacing: 0.02em;
    color: #F3C653;
    background-color: rgba(0, 0, 0, 0.4);

    border: 2px solid #FFFFFF;
    border-radius: 25px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rest-booking:hover,
.rest-booking:focus,
.rest-menu:hover,
.rest-menu:focus {

    background-color: #FFFFFF;
    border: 2px solid #F3C653;
}

@media screen and (min-width: 1024px) {

    .details-of-rest-list {
        margin-bottom: 0;
        gap: 34px;
    }

    .details-of-rest-wrap {
        display: flex;
        flex-direction: row-reverse;
        gap: 29px;
        align-items: end;
    }

    .wrap-ralative {
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {

    .details-of-rest-list {
        gap: 87px;
    }

    .details-of-rest-wrap {
        gap: 32px;
    }
}
.det-hotel-btn {

    width: 236px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    background-color: rgba(0, 0, 0, 0.4);
    color: #F3C653;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;

}



.det-hotel-btn-price {
    width: 236px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    background-color: rgba(0, 0, 0, 0.4);
    color: #F3C653;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

    /* padding-left: 37px;
    padding-right: 37px; */

    border: 2px solid #FFFFFF;
    border-radius: 25px;

}



.backdrop-hotel {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--animate-func), visibility var(--animate-func);
}


.backdrop-hotel.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 414px;
    height: 572px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FFFDEE;

}

@media screen and (min-width:1024px) {

    .modal {
        width: 712px;
        height: 489px;
        padding: 60px;
    }

}



.button-close {
    position: absolute;
    top: 19px;
    right: 20px;
    background-color: transparent;
    border: transparent;

}



.modal-icon {
    stroke: currentColor;

}

.button-close:hover .modal-icon,

.button-close:focus .modal-icon {
    stroke: #F3C653;

}

.form-header {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;

}

@media screen and (min-width:1280px) {

    .form-header {
        font-size: 32px;
    }

}

.form-text {

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;
    margin-bottom: 28px;

}



.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1024px) {

    .form-field {
        margin-bottom: 40px;
    }

}

@media screen and (min-width:1024px) {

    .fields {
        display: inline-flex;
        gap: 16px;
        align-items: end;
    }

}

.input-style {
    margin-bottom: 8px;
    height: 54px;
    width: 384px;
    background-color: #FFFDEE;
    border: 1px solid #C79002;
}



@media screen and (min-width:1024px) {

    .input-style {
        width: 288px;
        height: 64px;
    }

}

.input-style::placeholder {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;
}

@media screen and (min-width:1024px) {

    .input-style.first {
        display: none;
    }

}

.label-number {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}



.category {
    margin-bottom: 20px;
}



.select-wrapper {
    display: none;
}

@media screen and (min-width:1024px) {

    .select-wrapper {
        position: relative;
        display: block;
    }

}

@media screen and (min-width:1024px) {

    .select-wrapper::after {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 24px;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        background-image: url(../img/details-of-our-hotel/ep_arrow-down-bold.svg);

    }

}

.select {
    margin-bottom: 8px;
    width: 288px;
    height: 64px;
    background-color: #FFFDEE;
    border: 1px solid #C79002;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;

}



.option {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;

}







.night {
    margin-bottom: 14px;

}

@media screen and (min-width:1024px) {

    .night {
        margin-bottom: 0;
        margin-left: 12px;
    }

}



.first {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    margin-bottom: 8px;
}

.second {
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin-bottom: 14px;

}

@media screen and (min-width:1024px) {

    .second {
        margin-bottom: 8px;
    }

}

.uah {
    margin-bottom: 40px;

}

@media screen and (min-width:1024px) {

    .uah {
        margin-bottom: 0;
        margin-left: 12px;

    }

}

.form-btn {
    width: 384px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #F3C653;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.form-btn:hover,
.form-btn:focus {
    background-color: #F3C653;
    ;
    color: #000000;
    ;

}

@media screen and (min-width:1024px) {

    .form-btn {
        width: 592px;
        height: 64px;

    }

}