.footer{
background-color: #0E0C07;
}

.mimino{
    color: #F3C653;
    font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
        /* identical to box height */
    
        letter-spacing: 0.3em;
        padding-top: 100px;
        padding-bottom: 100px;
}

.footer-section{
    display: flex;
}

.footer-list {}

.footer-item {font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #F3C653;}
    .footer-soc-list{
display: flex;
    }

    .footer-soc-item {}
    
    .footer-svg {
        fill: rgba(243, 198, 83, 0.7);;
    }