 <link rel="stylesheet" href="./css/styles.css">
 <link rel="stylesheet" href="/src/css/reset.css">
 <!-- About our restaurant -->
    <section class="rest">
      <div class="conteiner">
        <div class="rest-page">
          <div class="rest-one">
            <p class="rest-pretitle">Amet minim mollit non</p>
            <h3 class="rest-title">MIMIHO</h3>
            <p class="rest-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <img
            src="/image/interior-mob.jpg"
            alt="rest"
            width="244"
            height="322"
            class="rest-img"
          />
        </div>
        <div class="rest-two">
          <img
            src="/image/oruri-jacome-mob.jpg"
            alt="rest"
            width="200"
            height="278"
            class="rest-imga"
          />
          <p class="rest-text-next">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <ul class="rest-foto">
          <li class="rest-foto1">
            <img
              src="/image/helena.jpg"
              alt="rest"
              width="245"
              height="245"
              class="rest-imge"
            />
          </li>
          <li class="rest-foto">
            <img
              src="/image/mat.jpg"
              alt="rest"
              width="245"
              height="245"
              class="rest-imge"
            />
          </li>
        </ul>
      </div>
    </section>