.conteiner {
    padding: 16px 15px ;
  min-width: 414px;
  margin: 0 auto;
}
.rest {
  background: #fffdee;
}
.rest-page {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
.rest-one {
  margin-bottom: 32px;
}
.rest-two {
  margin-bottom: 32px;
  display: flex;
  
  align-items: center;
  gap: 20px;
}
.rest-pretitle {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  color: #b4b4b4;
}
.rest-title {
  margin: 12px 0;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #494848;
}
.rest-text {
  margin-bottom: 28px;
  max-width: 216px;
  font-family: 'Montserrat';
 
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
.rest-text-next {
  max-width: 163px;
  font-family: 'Montserrat';
 
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
}
.rest-img {
  margin-left: 100px;
  margin-bottom: 32px;
}
.rest-imge {
 
  margin-left: 60px;
  margin-bottom: 72px;
}
.rest-foto {
  display: flex;
  margin-left: 25px;
}
